body {
    background-color: #FDF5E4;
}

h1, h2, p {
    color: #707070;
}

h1 {
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
}

h2 {
    font-family: nimbus-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

p {
    font-family: nimbus-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

ul {
    font-family: nimbus-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: #707070;
    text-align: left;
}


header {
    background-color: #FDF5E4;
    padding: 15px;
}

    header ul {
        float: right;
    }

    header li {
        display: inline-block;
        padding: 0px 5px;
    }

    header h2 {
        display: inline-block;
    }


.heroImg {
    padding: 40px 15px;
}

.content {
    max-width: 900px;
    margin: auto;
    background-color: #C5BAA4;
    text-align: center;
}

.content img {
   float: left;
   height: 400px;
}

.content p {
    margin-left: 350px;
    margin-right: 50px;
    margin-top:-69px;
}


 .content button {
        background-color: #FFCB6B;
        margin-bottom: 20px;
  }

button {
    background-color: #A5B6C0;
    border: none;
    color: #707070;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}


footer {
    background-color: #FFCB6B;
    padding: 0px 50px 50px 50px;
}

    footer h2, p {
        color: white;
        text-align: center;
    }

.icons {
    text-align: center;
}

    .icons img {
        height: 30px;
        padding: 10px;
        display: inline-block;
    }

.skills {
    padding: 0px 0px 10px 50px;
    background-color: #C7CEA3;
}

/* My UX Skills Section */
.flexContainer {
    display: flex;
    padding: 0px 50px 50px 50px;
    background-color: #C7CEA3;
}

.flexContainer div {
    background-color: #FDF5E4;
    padding: 25px;
    margin: 20px;
}



/* My Work Section */
.work {
    background-color: #A5B6C0;
    padding: 0px 50px 50px 50px;
}

.workGrid {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
}

    .workGrid div {
        background-color: #FDF5E4;
        padding: 0px;
        text-align: center;
    }

.workGrid img {
    height: 100%;
        margin: 0 auto;
        display: block;
        float: left;
}

    .workGrid h2, p {
        margin-bottom: 20px;
        color: #707070;
    }

@media only screen and (max-width: 600px) {

    #flexcontainer {
        flex-direction: column;
        width: 100%;
        grid-template-rows: 400px;
        grid-template-columns: 1fr 1fr;
    }
}
